*{
  margin: 0;
  padding: 0;
  font-family: "PlayFair Display";
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

#back{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}

#left{
  position: relative;
  width: 70%;
  height: 100%;
  padding: 30px 40px;
  overflow: hidden;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: #000;
  opacity: .7;
  font-size: 13px;
}

nav a:nth-child(2){
  font-size: 15px;
  opacity: 1;
  border-bottom: 2px solid #000;
  margin-top: 6px;
  padding-bottom: 4px;
}

#right{
  width: 30%;
  height: 100%;
  background-color: #999;
}


#circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  background-image: url(https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  border-radius: 50%;
}

#smcircle{
  width:  500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#smcircle img{
  position: absolute;
  top: 20%;
  left: -50%;
  width: 700px;
}

#vsmcircle{
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(0, -50%);
  width: 140px;
  height: 140px;
  border: 5px solid #fff;
  border-radius: 50%;
  background-image: url(https://images.unsplash.com/photo-1530728327726-b504480e42ec?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80);
  background-size: cover;
}

#vsmcircle i{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  width:  35px;
  height: 35px;
  background-color: #fff;
}